/* COMMON (공통) */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}
img{
  display: block; /*이미지를 글자 취급 안하는 법.*/
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;  /*위아래*/
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse { /*반전,*/
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;  /*투명한 배경 */
  color: #333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  color: #FFF;
  background-color: #592B18;
}
.btn.btn--gold {
  color: #D9AA8A;
  background-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color: #FFF;
  background-color: #FFF;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}



/* HEADER */
header{
  width: 100%;
  /* position: relative; */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed; /*fixed는 width를 최소한으로 사용하기때문에 width:100% 추가*/
  top: 0;
  z-index: 9;
}
header > .inner{ /*헤더의 자식요소 이너클래스만  > 이건 자식 선택자 */
  height: 120px;
  /*position: relative; /*무조건 포지션 앱솔루트 위에 있어야합니다.(logo라는 클래스가 inner 안에 있어서)*/
}
header .logo {
  height: 75px; /*이미지의 정확한 높이*/
  position: absolute; /* 부모요소 확인 필수 (배치) */
  top: 0;
  bottom: 0;
  left:0;
  margin: auto;
  /*display: none;  /*화면에서 잠깐 사라지게*/
}
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif; /*sans-serif (사용자의 컴퓨터 안에서 자동으로 )*/
  display: flex;  /*수평으로 만들기*/
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";  /*지우면 before라는 가상요소 사용 x*/
  /*display: block; /* 가로세로 값 가질수 있도록*/ /*포지션이 absoulte면 block으로 바뀜*/
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;  /*주변 파란선 삭제*/
  background-color: #FFF;
  color: #777;
  transition: width .4s;  /*0.4초*/
  font-size: 12px;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #690;
}
header .sub-menu .search .material-icons {
  height: 24px; /*아이콘의 높이값*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons { /*일치 선택자라서 붙여서 쓴거임 .focused*/
  opacity: 0; /*불투명도 0*/

}
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;   /*요소의 쌓임 속성*/
  display: flex;  /*수평*/
}
header .main-menu .item {

}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #690;
  border-radius: 6px 6px 0 0; /*좌상단 우상단*/
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed; /*뷰포트를 기준..*/
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block; /*블럭이되어 나타나짐*/
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;  /*높이는 기본값이 auto*/
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;  /*위아래 20 , 옆 안씀*/
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;   /*마우스 표시가 화살표 -> 손가락*/
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #690;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #690;
  margin: 4px 0 14px; /*top = 4 left,right = 0 bottom = 14*/
}
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge{
  border-radius: 10px;
  overflow: hidden; /*모서리는 깎지만, 이미지는 안깎임. 이미지도 깎게하는법 overflow: hidden*/
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15); /*마지막은 불투명도*/
  cursor: pointer;
}



/* VISUAL */
.visual {
  margin-top: 120px;  /*header의 높이값.*/
  background-image: url("../images/visual_bg.jpg");
  background-position: center;  /*센터하나만*/
}
.visual .inner {
  height: 646px;
}
.visual .title {
  position: absolute;   /*위에 inner에 포지션 값 있음*/
  top: 88px;
  left: -10px;
}
.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}